RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *
 

RewriteRule ^children$ controllers/children/children.php [L]
RewriteRule ^children/([0-9]+)$ controllers/children/children.php?childrenid=$1 [L]
RewriteRule ^children/active/([0-9]+)$ controllers/children/active.php?childrenid=$1 [L]

RewriteRule ^parents$ controllers/parents/parents.php [L]
RewriteRule ^parents/([0-9]+)$ controllers/parents/parents.php?parentsid=$1 [L]
RewriteRule ^parents/active/([0-9]+)$ controllers/parents/active.php?parentsid=$1 [L]

RewriteRule ^employees$ controllers/employees/employees.php [L]
RewriteRule ^employees/([0-9]+)$ controllers/employees/employees.php?employeesid=$1 [L]
RewriteRule ^employees/active/([0-9]+)$ controllers/employees/active.php?employeesid=$1 [L]
RewriteRule ^employees/page/([0-9]+)$ controllers/employees/page.php?start=$1 [L]
RewriteRule ^employees/search$ controllers/employees/search.php [L]
RewriteRule ^employees/readAllJobTitle$ controllers/employees/readAllJobTitle.php [L]

RewriteRule ^employees_info$ controllers/employees_info/employees_info.php [L]
RewriteRule ^employees_info/([0-9]+)$ controllers/employees_info/employees_info.php?employees_infoid=$1 [L]


RewriteRule ^departments$ controllers/settings/departments/departments.php [L]
RewriteRule ^departments/([0-9]+)$ controllers/settings/departments/departments.php?departmentsid=$1 [L]
RewriteRule ^departments/active/([0-9]+)$ controllers/settings/departments/active.php?departmentsid=$1 [L]
RewriteRule ^departments/page/([0-9]+)$ controllers/settings/departments/page.php?start=$1 [L]
RewriteRule ^departments/search$ controllers/settings/departments/search.php [L]

RewriteRule ^client$ controllers/client/client.php [L]
RewriteRule ^client/([0-9]+)$ controllers/client/client.php?clientid=$1 [L]
RewriteRule ^client/active/([0-9]+)$ controllers/client/active.php?clientid=$1 [L]
RewriteRule ^client/page/([0-9]+)$ controllers/client/page.php?start=$1 [L]
RewriteRule ^client/search$ controllers/client/search.php [L]

RewriteRule ^company$ controllers/settings/company/company.php [L]
RewriteRule ^company/([0-9]+)$ controllers/settings/company/company.php?companyid=$1 [L]
RewriteRule ^company/active/([0-9]+)$ controllers/settings/company/active.php?companyid=$1 [L]

RewriteRule ^leavetype$ controllers/settings/leave/leavetype/leavetype.php [L]
RewriteRule ^leavetype/([0-9]+)$ controllers/settings/leave/leavetype/leavetype.php?leavetypeid=$1 [L]
RewriteRule ^leavetype/active/([0-9]+)$ controllers/settings/leave/leavetype/active.php?leavetypeid=$1 [L]
RewriteRule ^leavetype/page/([0-9]+)$ controllers/settings/leave/leavetype/page.php?start=$1 [L]
RewriteRule ^leavetype/search$ controllers/settings/leave/leavetype/search.php [L]

RewriteRule ^leaveBenefits$ controllers/settings/leave/leaveBenefits/leaveBenefits.php [L]
RewriteRule ^leaveBenefits/([0-9]+)$ controllers/settings/leave/leaveBenefits/leaveBenefits.php?leavebenefitsid=$1 [L]
RewriteRule ^leaveBenefits/active/([0-9]+)$ controllers/settings/leave/leaveBenefits/active.php?leavebenefitsid=$1 [L]
RewriteRule ^leaveBenefits/page/([0-9]+)$ controllers/settings/leave/leaveBenefits/page.php?start=$1 [L]
RewriteRule ^leaveBenefits/search$ controllers/settings/leave/leaveBenefits/search.php [L]

RewriteRule ^joblevel$ controllers/settings/job/joblevel/joblevel.php [L]
RewriteRule ^joblevel/([0-9]+)$ controllers/settings/job/joblevel/joblevel.php?joblevelid=$1 [L]
RewriteRule ^joblevel/active/([0-9]+)$ controllers/settings/job/joblevel/active.php?joblevelid=$1 [L]
RewriteRule ^joblevel/page/([0-9]+)$ controllers/settings/job/joblevel/page.php?start=$1 [L]
RewriteRule ^joblevel/search$ controllers/settings/job/joblevel/search.php [L]

RewriteRule ^jobtitle$ controllers/settings/job/jobtitle/jobtitle.php [L]
RewriteRule ^jobtitle/([0-9]+)$ controllers/settings/job/jobtitle/jobtitle.php?jobtitleid=$1 [L]
RewriteRule ^jobtitle/active/([0-9]+)$ controllers/settings/job/jobtitle/active.php?jobtitleid=$1 [L]
RewriteRule ^jobtitle/page/([0-9]+)$ controllers/settings/job/jobtitle/page.php?start=$1 [L]
RewriteRule ^jobtitle/search$ controllers/settings/job/jobtitle/search.php [L]


RewriteRule ^role$ controllers/settings/users/role/role.php [L]
RewriteRule ^role/([0-9]+)$ controllers/settings/users/role/role.php?roleid=$1 [L]
RewriteRule ^role/active/([0-9]+)$ controllers/settings/users/role/active.php?roleid=$1 [L]
RewriteRule ^role/page/([0-9]+)$ controllers/settings/users/role/page.php?start=$1 [L]
RewriteRule ^role/search$ controllers/settings/users/role/search.php [L]