@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url(./fonts/Poppins-Regular.ttf) format("truetype");
}

@layer base {
  body {
    font-family: Poppins-Regular, serif;
  }
  nav ul li:hover {
    @apply cursor-pointer;
  }
  table {
    @apply max-w-full w-full border-collapse;
  }
  table thead {
    @apply bg-gray-200;
  }
  table th {
    @apply p-2 text-left;
  }

  table tr {
    @apply border-b border-gray-300 text-[12px];
  }
  table tr td {
    @apply p-2 text-[12px];
  }
  .list-content {
    @apply flex justify-between items-center mb-10 pr-2;
  }
  .list-content h2 {
    @apply text-lg font-bold;
  }
  .list-content-button button {
    @apply flex items-center justify-between text-sm  w-full border-b border-gray-300 py-3;
  }

  .list-content-button button span {
    @apply flex items-center gap-2;
  }

  
  .navigation-content {
    @apply bg-[#9f1659] h-[calc(100vh-60px)] sm:w-0 lg:w-[195px];
  }
  .navigation-wrapper {
    @apply flex relative;
  }
  .navigation-item {
    @apply flex items-center gap-2;
  }
  .branding {
    @apply flex items-center gap-2;
  }
  .branding img {
    @apply sm:w-[7rem] md:w-[10rem];
  }
  .branding h3 {
    @apply font-semibold text-sm ml-6;
  }
  .toggle-menu {
    @apply duration-200 translate-x-0 bg-[#9f1659] h-fit p-1 absolute -right-[28px];
  }
  .toggle-menu span {
    @apply w-6 h-[2px] bg-[#9f1659] block rounded-full;
  }
  .toggle-menu span:nth-child(2) {
    @apply my-1;
  }
  .table-freeze {
    @apply max-w-[1830px] max-h-[500px] overflow-auto mx-auto;
  }
  .table-freeze table {
    @apply border-collapse min-w-max z-10 relative overflow-auto;
  }
  .table-freeze table thead {
    @apply sticky top-0 w-max z-50 min-h-max;
  }
  .table-freeze tr th {
    @apply max-w-[8rem] top-0 z-10 bg-gray-300;
  }
  .table-freeze th:first-child {
    @apply sticky max-w-[10rem] min-w-[4rem] left-0 z-[2] bg-red-400;
  }
  .table-freeze tr td:first-child {
    @apply sticky max-w-[10rem] min-w-[4rem] left-0 z-[2] bg-red-200;
  }
  .table-freeze th:nth-child(2) {
    @apply sticky  left-[64px] z-[2] bg-blue-500;
  }
  .table-freeze tr td:nth-child(2) {
    @apply sticky  left-[64px]  bg-blue-300;
  }
  .table-freeze th:nth-child(3) {
    @apply sticky  left-[224px] z-[2] bg-blue-500;
  }
  .table-freeze tr td:nth-child(3) {
    @apply sticky  left-[224px]  bg-blue-300;
  }
  .table-freeze th:not(:first-child) {
    @apply max-w-[10rem] min-w-[8rem];
  }
  .table-freeze tr td:not(:first-child) {
    @apply break-words max-w-[10rem] min-w-[10rem];
  }
  .company-info-wrapper {
    @apply max-w-[50rem];
  }
  .company-info-top-title {
    @apply flex items-center justify-between border-b border-gray-300 px-2;
  }
  .company-info-wrapper table tr th {
    @apply font-semibold text-[12px] w-[15rem];
  }
  .company-info-wrapper table tr td {
    @apply text-[12px] font-normal;
  }
  .company-info-wrapper table tr {
    @apply border-transparent leading-[.8rem];
  }
}

@layer components {
  header {
    @apply relative border-b-2 border-[#9f1659] 
    px-5 py-2 flex justify-between items-center z-20 bg-white;
  }
  header a img {
    @apply w-[9rem];
  }
  header .avatar {
    @apply px-3 py-[7.6px] bg-[#9f1659] border-2 rounded-full grid 
      place-content-center text-white hover:cursor-pointer
      hover:border-pink-600;
  }
  header .avatar-details {
    @apply bg-white border border-gray-200 absolute right-10 bottom-[-11rem]
      rounded-md z-[100] p-4;
  }
  header .avatar-details .avatar-img figure {
    @apply text-white text-[2rem] bg-gray-400 w-fit p-3 rounded-full 
            border-[1px] border-white translate-y-7;
  }
  .avatar-name {
    @apply flex flex-col pb-2;
  }
  .avatar-name p {
    @apply text-base font-bold;
  }
  .avatar-name span {
    @apply text-xs font-normal;
  }

  .avatar-actions {
    @apply flex flex-col;
  }

  .avatar-actions p,
  button {
    @apply flex text-xs items-center gap-2 py-2;
  }
  .search {
    @apply flex items-center w-[20rem] relative;
  }
  .search-icon {
    @apply bg-[#9f1659] text-white text-[16px] absolute right-0 h-full rounded-tr-md rounded-br-md flex items-center px-1;
  }
  .search input {
    @apply h-[2rem] border-[1px] border-gray-300 text-xs pr-7;
  }
  .search input:focus {
    @apply outline-none border-[#9f1659];
  }
  .search input::placeholder {
    @apply text-xs;
  }
  .site-table-action {
    @apply flex items-center justify-between;
  }
  .site-table {
    @apply max-h-[520px] mt-3 overflow-y-auto overflow-x-hidden;
  }
  .site-table table thead {
    @apply sticky top-0 left-0 z-10;
  }
  .site-table table tr {
    @apply h-fit;
  }
  .site-table thead tr th:first-child {
    @apply w-[3rem];
  }
  .site-table thead tr th:nth-child(2) {
    @apply w-[10rem];
  }
  .site-table thead tr th:nth-child(3) {
    @apply w-[20rem] p-0;
  }
  .site-table tbody tr td:nth-child(3) {
    @apply p-0;
  }
  .site-table tbody tr td:last-child {
    @apply text-end;
  }
  .site-table thead tr th:last-child {
    @apply flex justify-end;
  }

  .footer-wrapper {
    @apply text-center -translate-y-2 bg-white;
  }
  .footer-wrapper p {
    @apply text-[9.6px];
  }
  .footer-wrapper p span {
    @apply font-semibold text-[#630b3c];
  }
  .tooltip {
    @apply relative;
  }
  .tooltip::after {
    @apply content-[attr(data-tooltip)] absolute bottom-full -left-[25px] bg-black/40 text-white text-[10px] hidden p-[2px];
  }
  .tooltip:hover::after {
    @apply block z-[999];
  }
  .input-wrapper {
    @apply mb-2 my-[18px] relative flex flex-col gap-2;
  }
  .input-wrapper:last-child {
    @apply mb-10;
  }
  label {
    @apply block text-xs text-[#9f1659] absolute -translate-y-[11px] left-2 p-1 bg-white z-10;
  }
  label.error-show {
    @apply text-red-400;
  }
  input.error-show {
    @apply border-red-400;
  }
  select.error-show {
    @apply border-red-400;
  }
  small {
    @apply absolute top-0 right-0 text-[10px] text-red-400 italic;
  }
  span.error-show {
    @apply absolute top-[-15px] right-1 text-[10px] text-red-400 italic;
  }
  nav ul li {
    @apply text-sm pl-2 border-l;
  }
  .submenu ul li {
    @apply text-xs border-l-2  hover:border-white ml-5;
  }
  .input-wrapper {
    @apply relative;
  }
  .table-header h2 {
    @apply text-sm;
  }
  .modal {
    @apply h-full flex flex-col max-w-[400px] w-full p-5
     bg-white;
  }
  .modal-title {
    @apply flex justify-between items-center mb-5;
  }
  .modal-title h2 {
    @apply text-sm font-semibold;
  }
  .modal-content {
    @apply overflow-y-auto bg-white flex flex-col justify-between
      h-full;
  }
  .modal-form {
    @apply flex flex-col justify-between h-full;
  }
  .form-action {
    @apply z-[999] bg-white;
  }
  .form-action .form-btn {
    @apply flex gap-2;
  }

  .btn-save {
    @apply inline-block px-5 py-2 rounded-sm w-full text-xs bg-[#9f1659] text-white;
  }
  .btn-discard {
    @apply inline-block px-5 py-2 rounded-sm w-full text-xs bg-gray-200 text-gray-900;
  }
  .btn-add {
    @apply text-[16px] flex items-center gap-1 text-[#9f1659] rounded-md;
  }
  button:disabled {
    @apply opacity-30;
  }
  input,
  select {
    @apply border border-solid border-gray-300 p-2 rounded-lg w-full h-[40px] truncate relative text-xs focus:border-[#9f1659];
  }
  select {
    @apply text-gray-400
  }
  select option{
    @apply text-black
  }

  
  /* textarea {
    @apply block w-full p-2 border border-gray-300 border-solid rounded-lg resize-none h-28;
  } */
  /* input:disabled,
  select:disabled,
  textarea:disabled,
  :disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  } */
  /* input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-accent outline-0;
  } */
  /* input.account_password {
    @apply !border-0 !border-b !rounded-none focus:!border-t-0 focus:!border-r-0 focus:!border-l-0;
  } */

  /* label {
    @apply absolute z-10 text-xs transform translate-x-3 -translate-y-6 bg-white  top-4;
  } */
  /* 
  .label-transparent label {
    @apply bg-white px-2 -translate-y-1 translate-x-1;
  } */

  /* .label-transparent input {
    @apply h-[60px] pb-0 pt-6 px-3;
  } */

  /* .spinner-dark > div {
    @apply bg-dark/20;
  } */

  /* table-freeze v2 */
.table-freezev2 {
  @apply  max-h-[600px] overflow-auto 
}
.table-freezev2 table{
  @apply min-w-max z-10 relative 
}
.table-freezev2 table thead{
  @apply sticky top-0 z-10
}
.table-freezev2 table tr td{
  @apply w-[10rem] text-left
}
.table-freezev2 table tr td:first-child{
  @apply w-[4rem] bg-[#fecaca] sticky left-0
}
.table-freezev2 table th:first-child{
  @apply bg-[#f87171] sticky left-0
}
.table-freezev2 table tr td:nth-child(2){
  @apply w-[10rem] bg-[#93c5fd] sticky left-[4rem]
}
.table-freezev2 table th:nth-child(2){
  @apply bg-[#3b82f6] sticky left-[4rem] 
}
.table-freezev2 table tr td:nth-child(3){
  @apply w-[10rem] bg-[#93c5fd] sticky left-[14rem]
}
.table-freezev2 table th:nth-child(3){
  @apply bg-[#3b82f6] sticky left-[14rem] 
}



}


